body {
  background-color: rgba(9, 108, 121, 0.963); 
  height: 100vh; 
  margin: 0;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */
}

.todo-container {
  max-width: 480px;
  height: 100vh; /* full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center; /* horizontal center */
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  text-align: center;
  color: antiquewhite;
  margin-bottom: 20px;
}

.input-row {
  display: flex;
  gap: 8px;
}

.task-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: 0.2s;
}

.task-input:focus {
  border-color: antiquewhite;
}

.add-btn {
  padding: 10px 16px;
  font-size: 16px;
  background-color: antiquewhite;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.add-btn:hover {
  background-color: antiquewhite;
}

.task-list {
  margin-top: 10px;
  padding-right: 50px;
  list-style-type: disc;
}

.empty-text {
  color: #888;
  font-style: italic;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #fff;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
}

.delete-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #ff6666;
  transition: 0.2s;
}

.delete-btn:hover {
  color: #ff0000;
}
